// POPUPs/
.popup
  #erius-popup.popup__window
    button.js-popup-close.popup-close-btn
    .popup__inner
      strong Противовоспалительная активность:
      br
      | 			подавляет реакции аллергического воспаления.
      br
      strong Антигистаминная активность:
      br
      | 			высокоселективно связывается с Н1-рецепторами.
      br
      strong Противоаллергическая активность:
      br
      | 			торможение аллергического каскада.
  #allergicheskie-reakcii-popup.popup__window
    button.js-popup-close.popup-close-btn
    .popup__inner
      .popup__tit
        | Возможные аллергические реакции на фоне приема препарата
      .row.row_sm-x-nw
        .col.cmpr
          .cmpr__head
            | Эриус
            sup ®
            | , сироп
          p
            strong < 1 на 10 000
            |  пациентов
          p
            | Анафилаксия, ангионевротический отек, одышка, зуд, сыпь, в том числе крапивница
        .col.cmpr
          .cmpr__head
            | Зиртек
            sup ®
            |  / Зодак
            sup ®
            | , капли
          p
            strong < 1 на 10 000
            |  пациентов
          p
            | Анафилактический шок, ангионевротический отек, стойкая лекарственная эритема
          p
            strong 1–10 на 10 000
            |  пациентов.
            | 						Реакции гиперчувствительности, крапивница
          p
            strong 10–100 на 10 000
            |  пациентов.
            | 						Сыпь, зуд
        .col.cmpr
          .cmpr__head
            | Супрастин
            sup ®
            | , таблетки
          p
            | Частота не указана
          p
            | Аллергические реакции, фотосенсибилизация
        .col.cmpr
          .cmpr__head
            | Фенистил
            sup ®
            | , капли
          p
            strong < 1 на 10 000
            |  пациентов
          p
            | Анафилактоидные реакции, включающие отек лица, отек глотки, сыпь, мышечные спазмы и одышку
      .mt-20
        button.js-open-popup.link-btn(data-popup='#full-compare-popup') Посмотреть полное сравнение
  #peroralnie-formi-popup.popup__window
    button.js-popup-close.popup-close-btn
    .popup__inner
      .popup__tit
        | Пероральные формы, разрешенные к применению с раннего детского возраста
      .row.row_sm-x-nw
        .col.cmpr
          .cmpr__head
            | Эриус
            sup ®
            | , сироп
          p
            | Сироп (с 6 месяцев)
        .col.cmpr
          .cmpr__head
            | Зиртек
            sup ®
            |  / Зодак
            sup ®
            | , капли
          p
            | Капли (с 6 месяцев)
        .col.cmpr
          .cmpr__head
            | Супрастин
            sup ®
            | , таблетки
          p
            | Таблетки (с 3 лет)
        .col.cmpr
          .cmpr__head
            | Фенистил
            sup ®
            | , капли
          p
            | Капли (с 1 месяца)
      .mt-20
        button.js-open-popup.link-btn(data-popup='#full-compare-popup') Посмотреть полное сравнение
  #parabeni-popup.popup__window
    button.js-popup-close.popup-close-btn
    .popup__inner
      .popup__tit
        | Наличие в составе парабенов
      .row.row_sm-x-nw
        .col.cmpr
          .cmpr__head
            | Эриус
            sup ®
            | , сироп
          p
            | Нет
        .col.cmpr
          .cmpr__head
            | Зиртек
            sup ®
            |  / Зодак
            sup ®
            | , капли
          p
            | Да
            br
            |  Метилпарабензол и пропилпарабензол
        .col.cmpr
          .cmpr__head
            | Супрастин
            sup ®
            | , таблетки
          p
            | Нет
        .col.cmpr
          .cmpr__head
            | Фенистил
            sup ®
            | , капли
          p
            | Нет
      .mt-20
        button.js-open-popup.link-btn(data-popup='#full-compare-popup') Посмотреть полное сравнение
  #chastota-sonlivosti-popup.popup__window
    button.js-popup-close.popup-close-btn
    .popup__inner
      .popup__tit
        | Частота сонливости
      .row.row_sm-x-nw
        .col.cmpr
          .cmpr__head
            | Эриус
            sup ®
            | , сироп
          p
            b < 1 на 10 000
            |  пациентов (< 0,01 %)
        .col.cmpr
          .cmpr__head
            | Зиртек
            sup ®
            |  / Зодак
            sup ®
            | , капли
          p
            | Взрослые (10 мг в сутки) 
            b 963 на 10 000
            |  пациентов (9,63 %)
            br
            | 						Дети 6 месяцев — 12 лет 
            b 180 на 10 000
            |  пациентов (1,8 %)
        .col.cmpr
          .cmpr__head
            | Супрастин
            sup ®
            | , таблетки
          p
            | Частота не указана
        .col.cmpr
          .cmpr__head
            | Фенистил
            sup ®
            | , капли
          p
            b 100–1 000 на 10 000
            |  пациентов (1–10 %)
      .mt-20
        button.js-open-popup.link-btn(data-popup='#full-compare-popup') Посмотреть полное сравнение
  #aromatizator-krasitel-popup.popup__window
    button.js-popup-close.popup-close-btn
    .popup__inner
      .popup__txt
        p
          | Для придания приятного вкуса в состав сиропа Эриус
          sup ®
          |  входят разрешенные для применения в пищевой и фармацевтической промышленности ароматизатор со вкусом жевательной резинки и желтый краситель «солнечный закат». Терапия аллергического ринита или крапивницы часто подразумевает длительный прием лекарства.  Вспомогательные вещества в сиропе Эриус
          sup ®
          |  призваны сделать лечение вкусным и приятным для ребенка
      .popup__tit
        | Наличие красителя и ароматизатора
      .row.row_sm-x-nw
        .col.cmpr
          .cmpr__head
            | Эриус
            sup ®
            | , сироп
          p
            | Да
        .col.cmpr
          .cmpr__head
            | Зиртек
            sup ®
            |  / Зодак
            sup ®
            | , капли
          p
            | Нет
        .col.cmpr
          .cmpr__head
            | Супрастин
            sup ®
            | , таблетки
          p
            | Нет
        .col.cmpr
          .cmpr__head
            | Фенистил
            sup ®
            | , капли
          p
            | Нет
      .mt-20
        button.js-open-popup.link-btn(data-popup='#full-compare-popup') Посмотреть полное сравнение
  #kratnost-primeneniya-popup.popup__window
    button.js-popup-close.popup-close-btn
    .popup__inner
      .popup__tit
        | Кратность применения
      .row.row_sm-x-nw
        .col.cmpr
          .cmpr__head
            | Эриус
            sup ®
            | , сироп
          p
            | 1 раз в сутки для всех пациентов
        .col.cmpr
          .cmpr__head
            | Зиртек
            sup ®
            |  / Зодак
            sup ®
            | , капли
          p
            | 1 раз в сутки (6 месяцев – 1 год)
            | 2 раза в сутки (1–11 лет)
            | 1 раз в сутки (12+ лет)
        .col.cmpr
          .cmpr__head
            | Супрастин
            sup ®
            | , таблетки
          p
            | 2 раза в сутки (3–6 лет)
            br
            | 						2–3 раза в сутки (6–14 лет)
            br
            | 						3–4 раза в сутки (взрослым)
        .col.cmpr
          .cmpr__head
            | Фенистил
            sup ®
            | , капли
          p
            | 3 раза в сутки для всех пациентов
      .mt-20
        button.js-open-popup.link-btn(data-popup='#full-compare-popup') Посмотреть полное сравнение
  #nachalo-deistviya-popup.popup__window
    button.js-popup-close.popup-close-btn
    .popup__inner
      .popup__tit
        | Начало действия
      .row.row_sm-x-nw
        .col.cmpr
          .cmpr__head
            | Эриус
            sup ®
            | , сироп
          p
            | В течение 30 минут
        .col.cmpr
          .cmpr__head
            | Зиртек
            sup ®
            |  / Зодак
            sup ®
            | , капли
          p
            | Через 20 минут (у 50 % больных), через 1 час (у 95 % больных)
        .col.cmpr
          .cmpr__head
            | Супрастин
            sup ®
            | , таблетки
          p
            | В течение 15–30 минут
        .col.cmpr
          .cmpr__head
            | Фенистил
            sup ®
            | , капли
          p
            | Не указано
      .mt-20
        button.js-open-popup.link-btn(data-popup='#full-compare-popup') Посмотреть полное сравнение
  #osobennosti-deti-do-1-goda-popup.popup__window
    button.js-popup-close.popup-close-btn
    .popup__inner
      .popup__tit
        | Особенности применения у детей до 1 года,
        | связанные с потенциальным риском угнетения ЦНС
      .row.row_sm-x-nw
        .col.cmpr
          .cmpr__head
            | Эриус
            sup ®
            | , сироп
          p
            | Особых указаний нет
        .col.cmpr
          .cmpr__head
            | Зиртек
            sup ®
            |  / Зодак
            sup ®
            | , капли
          p
            | Ввиду потенциального угнетающего влияния на центральную нервную систему следует соблюдать осторожность при назначении препарата Зиртек
            sup ®
            |  детям в возрасте до 1 года при наличии факторов риска возникновения синдрома внезапной детской смерти
          p
            | Применение у детей от 6 до 12 месяцев возможно только по назначению врача и под строгим медицинским контролем
        .col.cmpr
          .cmpr__head
            | Супрастин
            sup ®
            | , таблетки
          p
            | Неприменимо, т.к. детский возраст до 3 лет является противопоказанием
        .col.cmpr
          .cmpr__head
            | Фенистил
            sup ®
            | , капли
          p
            | С осторожностью у детей в возрасте до 1 года, поскольку седативный эффект может сопровождаться эпизодами ночного апноэ
      .mt-20
        button.js-open-popup.link-btn(data-popup='#full-compare-popup') Посмотреть полное сравнение
  #vliyanie-na-son-popup.popup__window
    button.js-popup-close.popup-close-btn
    .popup__inner
      .popup__tit
        | Влияние на структуру сна
      .row.row_sm-x-nw
        .col.cmpr
          .cmpr__head
            | Эриус
            sup ®
            | , сироп
          p
            | Не влияет
        .col.cmpr
          .cmpr__head
            | Зиртек
            sup ®
            |  / Зодак
            sup ®
            | , капли
          p
            | Не влияет
        .col.cmpr
          .cmpr__head
            | Супрастин
            sup ®
            | , таблетки
          p
            | Антигистаминные препараты I поколения могут нарушать REM-фазу сна
        .col.cmpr
          .cmpr__head
            | Фенистил
            sup ®
            | , капли
          p
            | Антигистаминные препараты I поколения могут нарушать REM-фазу сна
      .mt-20
        button.js-open-popup.link-btn(data-popup='#full-compare-popup') Посмотреть полное сравнение
  #temperatura-hraneniya-popup.popup__window
    button.js-popup-close.popup-close-btn
    .popup__inner
      .popup__tit
        | Температура хранения пероральных форм, разрешенных к применению с раннего детского возраста
      .row.row_sm-x-nw
        .col.cmpr
          .cmpr__head
            | Эриус
            sup ®
            | , сироп
          p
            | Не выше +30
        .col.cmpr
          .cmpr__head
            | Зиртек
            sup ®
            |  / Зодак
            sup ®
            | , капли
          p
            | Не выше +25
        .col.cmpr
          .cmpr__head
            | Супрастин
            sup ®
            | , таблетки
          p
            | +15–25
        .col.cmpr
          .cmpr__head
            | Фенистил
            sup ®
            | , капли
          p
            | Не выше +25
      .mt-20
        button.js-open-popup.link-btn(data-popup='#full-compare-popup') Посмотреть полное сравнение
  #instruction-popup.popup__window
    button.js-popup-close.popup-close-btn
    .popup__inner
      .popup__title
        | Краткая инструкция
      .popup__txt.m-0
        b
          | Эриус
          sup ®
          | .
        |  Таблетки, покрытые пленочной оболочкой / сироп.
        br
        b МНН или группировочное название:
        |  дезлоратадин.
        br
        b Показания к применению:
        |  аллергический ринит (устранение или облегчение чихания, выделения слизи из носа, зуда и заложенности носа, зуда и покраснения глаз, слезотечения, зуда неба); крапивница (уменьшение или устранение кожного зуда и сыпи).
        br
        b Способ применения и дозы:
        |  принимать регулярно в одно и то же время суток, независимо от времени приема пищи. Взрослым и подросткам от 12 лет — по 1 таблетке (5 мг) 1 раз в сутки. Сироп: детям в возрасте от 6 до 12 месяцев — по 1 мг (2 мл сиропа) 1 раз в день; детям в возрасте от 1 года до 5 лет — по 1,25 мг (2,5 мл сиропа) 1 раз в день; детям в возрасте от 6 до 11 лет — по 2,5 мг (5 мл сиропа) 1 раз в день; взрослым и подросткам от 12 лет — по 5 мг (10 мл сиропа) 1 раз в день.
        br
        b Противопоказания:
        |  повышенная чувствительность к дезлоратадину, другим компонентам препарата или лоратадину, беременность и период грудного вскармливания, детский возраст до 6 месяцев (для сиропа) или до 12 лет (для таблеток); для сиропа - непереносимость фруктозы, нарушение всасывания глюкозы-галактозы или недостаточность сахаразы-изомальтазы в организме.
        br
        b С осторожностью:
        |  тяжелая почечная недостаточность.
        br
        b Побочные действия:
        |  повышенная утомляемость, сухость во рту и головная боль; у детей до 2 лет — диарея, повышение температуры тела, бессонница.
        br
        b Особые указания:
        |  следует принимать во внимание потенциальную возможность развития таких побочных эффектов, как головокружение и сонливость, в таких случаях воздержаться от управления транспортными средствами и механизмами. Дезлоратадин одновременно с алкоголем следует применять с осторожностью.
        br
        b Рег. номер (таблетки):
        |  П N014704/02, 
        b инструкция по применению
        |  от 27.04.2017.
        br
        b Рег. номер (сироп):
        |  П N014704/01, 
        b инструкция по применению
        |  от 10.07.2017.
        br
        | 				Полную информацию смотрите в инструкции по применению.
        br
        | 				АО «БАЙЕР», Россия, 107113, г. Москва, 3-я Рыбинская ул., д. 18, стр. 2.
  #full-compare-popup.popup__window
    button.js-popup-close.popup-close-btn
    .popup__inner
      .popup__title
        | Полное сравнение
      .popup__tit
        | Применение при аллергическом рините и крапивнице
        sup 4–8
      .row.row_sm-x-nw
        .col.cmpr
          .cmpr__head
            | Эриус
            sup ®
            | , сироп
          p
            | Устранение или облегчение чихания, заложенности носа, выделения слизи из носа, зуда в носу, зуда неба, зуда и покраснения глаз, слезотечения. Уменьшение или устранение кожного зуда, сыпи при крапивнице
        .col.cmpr
          .cmpr__head
            | Зиртек
            sup ®
            |  / Зодак
            sup ®
            | , капли
          p
            | Облегчение назальных и глазных симптомов круглогодичного (персистирующего) и сезонного (интермиттирующего) аллергического ринита и аллергического конъюнктивита: зуда, чиханья, заложенности носа, ринореи, слезотечения, гиперемии конъюнктивы. Облегчение симптомов хронической идиопатической крапивницы
        .col.cmpr
          .cmpr__head
            | Супрастин
            sup ®
            | , таблетки
          p
            | Сезонный и круглогодичный аллергический ринит, конъюнктивит, крапивница
        .col.cmpr
          .cmpr__head
            | Фенистил
            sup ®
            | , капли
          p
            | Аллергические заболевания (крапивница, круглогодичный аллергический ринит)
      .popup__tit
        | Применение при других аллергических заболеваниях
        sup 4–8
      .row.row_sm-x-nw
        .col.cmpr
          .cmpr__head
            | Эриус
            sup ®
            | , сироп
          p
            | —
        .col.cmpr
          .cmpr__head
            | Зиртек
            sup ®
            |  / Зодак
            sup ®
            | , капли
          p
            | —
        .col.cmpr
          .cmpr__head
            | Супрастин
            sup ®
            | , таблетки
          p
            | Контактный дерматит, кожный зуд, острая и хроническая экзема, атопический дерматит, пищевая и лекарственная аллергия, аллергические реакции на укусы насекомых. Ангионевротический отек (отек Квинке) в качестве вспомогательного средства, сывороточная болезнь
        .col.cmpr
          .cmpr__head
            | Фенистил
            sup ®
            | , капли
          p
            | Кожный зуд различного происхождения; профилактика аллергических реакций во время проведения гипосенсибилизирующей терапии, сенная лихорадка, ангионевротический отек, пищевая и лекарственная аллергия
      .popup__tit
        | Пероральные формы, разрешенные к применению с раннего детского возраста
        sup 4–8
      .row.row_sm-x-nw
        .col.cmpr
          .cmpr__head
            | Эриус
            sup ®
            | , сироп
          p
            | Сироп (с 6 месяцев)
        .col.cmpr
          .cmpr__head
            | Зиртек
            sup ®
            |  / Зодак
            sup ®
            | , капли
          p
            | Капли (с 6 месяцев)
        .col.cmpr
          .cmpr__head
            | Супрастин
            sup ®
            | , таблетки
          p
            | Таблетки (с 3 лет)
        .col.cmpr
          .cmpr__head
            | Фенистил
            sup ®
            | , капли
          p
            | Капли (с 1 месяца)
      .popup__tit
        | Начало действия
        sup 4–8
      .row.row_sm-x-nw
        .col.cmpr
          .cmpr__head
            | Эриус
            sup ®
            | , сироп
          p
            | В течение 30 минут
        .col.cmpr
          .cmpr__head
            | Зиртек
            sup ®
            |  / Зодак
            sup ®
            | , капли
          p
            | Через 20 минут (у 50 % больных), через 1 час (у 95 % больных)
        .col.cmpr
          .cmpr__head
            | Супрастин
            sup ®
            | , таблетки
          p
            | В течение 15–30 минут
        .col.cmpr
          .cmpr__head
            | Фенистил
            sup ®
            | , капли
          p
            | Не указано
      .popup__tit
        | Кратность применения
        sup 4–8
      .row.row_sm-x-nw
        .col.cmpr
          .cmpr__head
            | Эриус
            sup ®
            | , сироп
          p
            | 1 раз в сутки для всех пациентов
        .col.cmpr
          .cmpr__head
            | Зиртек
            sup ®
            |  / Зодак
            sup ®
            | , капли
          p
            | 1 раз в сутки (6 месяцев – 1 год)
            | 2 раза в сутки (1–11 лет)
            | 1 раз в сутки (12+ лет)
        .col.cmpr
          .cmpr__head
            | Супрастин
            sup ®
            | , таблетки
          p
            | 2 раза в сутки (3–6 лет)
            br
            | 						2–3 раза в сутки (6–14 лет)
            br
            | 						3–4 раза в сутки (взрослым)
        .col.cmpr
          .cmpr__head
            | Фенистил
            sup ®
            | , капли
          p
            | 3 раза в сутки для всех пациентов
      .popup__tit
        | Наличие в составе парабенов
        sup 4–8
      .row.row_sm-x-nw
        .col.cmpr
          .cmpr__head
            | Эриус
            sup ®
            | , сироп
          p
            | Нет
        .col.cmpr
          .cmpr__head
            | Зиртек
            sup ®
            |  / Зодак
            sup ®
            | , капли
          p
            | Да
            br
            |  Метилпарабензол и пропилпарабензол
        .col.cmpr
          .cmpr__head
            | Супрастин
            sup ®
            | , таблетки
          p
            | Нет
        .col.cmpr
          .cmpr__head
            | Фенистил
            sup ®
            | , капли
          p
            | Нет
      .popup__tit
        | Особенности применения у детей до 1 года, 
        | связанные с потенциальным риском угнетения ЦНС
        sup 4–8
      .row.row_sm-x-nw
        .col.cmpr
          .cmpr__head
            | Эриус
            sup ®
            | , сироп
          p
            | Особых указаний нет
        .col.cmpr
          .cmpr__head
            | Зиртек
            sup ®
            |  / Зодак
            sup ®
            | , капли
          p
            | Ввиду потенциального угнетающего влияния на центральную нервную систему следует соблюдать осторожность при назначении препарата Зиртек
            sup ®
            |  детям в возрасте до 1 года при наличии факторов риска возникновения синдрома внезапной детской смерти
          p
            | Применение у детей от 6 до 12 месяцев возможно только по назначению врача и под строгим медицинским контролем
        .col.cmpr
          .cmpr__head
            | Супрастин
            sup ®
            | , таблетки
          p
            | Не применимо, т.к. детский возраст до 3 лет является противопоказанием
        .col.cmpr
          .cmpr__head
            | Фенистил
            sup ®
            | , капли
          p
            | С осторожностью у детей в возрасте до 1 года, поскольку седативный эффект может сопровождаться эпизодами ночного апноэ
      .popup__tit
        | Возможные аллергические реакции на фоне приема препарата
        sup 4–8
      .row.row_sm-x-nw
        .col.cmpr
          .cmpr__head
            | Эриус
            sup ®
            | , сироп
          p
            strong < 1 на 10 000
            |  пациентов
          p
            | Анафилаксия, ангионевротический отек, одышка, зуд, сыпь, в том числе крапивница
        .col.cmpr
          .cmpr__head
            | Зиртек
            sup ®
            |  / Зодак
            sup ®
            | , капли
          p
            strong < 1 на 10 000
            |  пациентов
          p
            | Анафилактический шок, ангионевротический отек, стойкая лекарственная эритема
          p
            strong 1–10 на 10 000
            |  пациентов.
            | 						Реакции гиперчувствительности, крапивница
          p
            strong 10–100 на 10 000
            |  пациентов.
            | 						Сыпь, зуд
        .col.cmpr
          .cmpr__head
            | Супрастин
            sup ®
            | , таблетки
          p
            | Частота не указана
          p
            | Аллергические реакции, фотосенсибилизация
        .col.cmpr
          .cmpr__head
            | Фенистил
            sup ®
            | , капли
          p
            b < 1 на 10 000
            |  пациентов
          p
            | Анафилактоидные реакции, включающие отек лица, отек глотки, сыпь, мышечные спазмы и одышку
      .popup__tit
        | Влияние на структуру сна
        sup 1–3
      .row.row_sm-x-nw
        .col.cmpr
          .cmpr__head
            | Эриус
            sup ®
            | , сироп
          p
            | Не влияет
        .col.cmpr
          .cmpr__head
            | Зиртек
            sup ®
            |  / Зодак
            sup ®
            | , капли
          p
            | Не влияет
        .col.cmpr
          .cmpr__head
            | Супрастин
            sup ®
            | , таблетки
          p
            | Антигистаминные препараты I поколения могут нарушать REM-фазу сна
        .col.cmpr
          .cmpr__head
            | Фенистил
            sup ®
            | , капли
          p
            | Антигистаминные препараты I поколения могут нарушать REM-фазу сна
      .popup__tit
        | Частота сонливости
        sup 4–8
      .row.row_sm-x-nw
        .col.cmpr
          .cmpr__head
            | Эриус
            sup ®
            | , сироп
          p
            b < 1 на 10 000
            |  пациентов (< 0,01 %)
        .col.cmpr
          .cmpr__head
            | Зиртек
            sup ®
            |  / Зодак
            sup ®
            | , капли
          p
            | Взрослые (10 мг в сутки) 
            b 963 на 10 000
            |  пациентов (9,63 %)
            br
            | 						Дети 6 месяцев — 12 лет 
            b 180 на 10 000
            |  пациентов (1,8 %)
        .col.cmpr
          .cmpr__head
            | Супрастин
            sup ®
            | , таблетки
          p
            | Частота не указана
        .col.cmpr
          .cmpr__head
            | Фенистил
            sup ®
            | , капли
          p
            b 100–1 000 на 10 000
            |  пациентов (1–10 %)
      .popup__tit
        | Наличие красителя и ароматизатора
        sup 4–8
      .row.row_sm-x-nw
        .col.cmpr
          .cmpr__head
            | Эриус
            sup ®
            | , сироп
          p
            | Да
        .col.cmpr
          .cmpr__head
            | Зиртек
            sup ®
            |  / Зодак
            sup ®
            | , капли
          p
            | Нет
        .col.cmpr
          .cmpr__head
            | Супрастин
            sup ®
            | , таблетки
          p
            | Нет
        .col.cmpr
          .cmpr__head
            | Фенистил
            sup ®
            | , капли
          p
            | Нет
      .popup__tit
        | Температура хранения пероральных форм, разрешенных
        sup 4–8
        |  к применению с раннего детского возраста
      .row.row_sm-x-nw
        .col.cmpr
          .cmpr__head
            | Эриус
            sup ®
            | , сироп
          p
            | Не выше +30
        .col.cmpr
          .cmpr__head
            | Зиртек
            sup ®
            |  / Зодак
            sup ®
            | , капли
          p
            | Не выше +25
        .col.cmpr
          .cmpr__head
            | Супрастин
            sup ®
            | , таблетки
          p
            | +15–25
        .col.cmpr
          .cmpr__head
            | Фенистил
            sup ®
            | , капли
          p
            | Не выше +25
      .popup__txt.mt-80
        sub 1
        |  Church, M. K. et al. Risk of first-generation H1-antihistamines: a GA2LEN position paper. Allergy, 2010; 65, 459–466.
        br
        sub 2
        |  Vyazovskiy, V. V. et al. NREM and REM sleep: complementary roles in recovery after wakefulness. The Neuroscientist, 2014; 20 (3), 203–219.
        br
        sub 3
        |  J. Winson. The biology and function of rapid eye movement sleep. Current Opinion in Neurobiology, 1993; 3 (2), 243–248.
        br
        sub 4
        |  Инструкция по медицинскому применению препарата Эриус
        sup ®
        | , сироп.
        br
        sub 5
        |  Инструкция по медицинскому применению препарата Зиртек
        sup ®
        | , капли.
        br
        sub 6
        |  Инструкция по медицинскому применению препарата Зодак
        sup ®
        | , капли.
        br
        sub 7
        |  Инструкция по медицинскому применению препарата Супрастин
        sup ®
        | , таблетки.
        br
        sub 8
        |  Инструкция по медицинскому применению препарата Фенистил
        sup ®
        | , капли.
// /POPUPs