doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width,initial-scale=1.0')
    link(rel='stylesheet', href='css/style.css')
    link(rel='apple-touch-icon', sizes='72x72', href='apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='favicon-16x16.png')
    title
      | Сироп от аллергии для детей и взрослых Эриус — инструкция, способ применения, состав, показания
    // — Global site tag (gtag.js) - Google Analytics —
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-134643511-1')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-134643511-1');
    
    meta(name="robots" content="noindex, nofollow")
  body
    // HEADER/
    header.header
      .row.row_wrp.row_nw.row_col-middle
        .col.col-grow
          form.form(action='#')
            .form__field.form__field_btn
              .autocomplete
                input#search-input.autocomplete__input(type='text', name='planet', data-required='true', placeholder='Поиск')
                button.form__btn.form__btn_search.js-toggle(type='button', data-target-elements='#search-input')
                ul.autocomplete__options
                  // values
        .col.p-y-0
          .header__logo
            img(src='images/logo.svg', alt='logo')
    // /HEADER
    // MAIN/
    main.main
      // animation frame
      .animation(js-animation)
        .animation__holder
          div(js-set-background style="background-image: url('images/animation/1_0000.png') ")

      // первый блок (упаковка)
      .first-screen
        .first-screen__inner
          .row.row_wrp
            .col-12
              h1.title
                | Всё о сиропе Эриус
                sup ®
          .row.row_wrp
            .col-4.justify-vertical.find-block
              h2.tit
                | Эриус — препарат
                button.js-open-popup.btn.sm-hidden(data-popup='#erius-popup') ?
                br
                | 						с тройной
                button.js-open-popup.btn.btn_p1.md-x-hidden(data-popup='#erius-popup') ?
                br.md-x-hidden
                |  активностью
                br
                | 						против аллергии:
              ul
                li
                  | противовоспалительной
                li
                  | антигистаминной
                li
                  | противоаллергической
              .tit
                | Сироп Эриус
                sup ®
                |  разрешен
                br
                | 						к применению с 
                span.c-blue 6 месяцев
                br
                | 						при аллергическом
                br
                | 						рините и крапивнице
              div
                | L.RU.MKT.CC.11.2018.2458
            .col-3.pr-0.pos-r.sm-p-x-15
              .img-block-1
                img(src='images/erius-sirop.png', alt='erius sirop')
                button.js-bubble.vt-btn(data-bubble='<span class="bubble__tit">Картонная упаковка</span> Упаковка сиропа Эриус<sup>®</sup> получила обновленный дизайн в 2018 году. На ней перечислены 10 основных симптомов аллергии, с которыми борется препарат Эриус<sup>®</sup>, а также указан минимальный разрешенный возраст для применения сиропа Эриус<sup>®</sup>.', data-bubble-class='bubble_v1') i
            .col-4.col-right.justify-vertical.find-block
              h2.tit
                | Сироп Эриус
                sup ®
                |  способствует устранению 10 симптомов аллергии:
              ul.list
                li.list__icon
                  span.i
                    img(src='images/icon-1.svg', alt='icon')
                  | зуд глаз
                li.list__icon
                  span.i
                    img(src='images/icon-2.svg', alt='icon')
                  | слезотечение
                li.list__icon
                  span.i
                    img(src='images/icon-3.svg', alt='icon')
                  | заложенность носа
                li.list__icon
                  span.i
                    img(src='images/icon-4.svg', alt='icon')
                  | зуд неба
                li.list__icon
                  span.i
                    img(src='images/icon-5.svg', alt='icon')
                  | выделения из носа
                li.list__icon
                  span.i
                    img(src='images/icon-6.svg', alt='icon')
                  | покраснение глаз
                li.list__icon
                  span.i
                    img(src='images/icon-7.svg', alt='icon')
                  | зуд в носу
                li.list__icon
                  span.i
                    img(src='images/icon-8.svg', alt='icon')
                  | чихание
                li.list__icon
                  span.i
                    img(src='images/icon-9.svg', alt='icon')
                  | сыпь на коже
                li.list__icon
                  span.i
                    img(src='images/icon-10.svg', alt='icon')
                  | кожный зуд
      
      .row.row_wrp.section
        .col-4
          .block.block_br.sm-mt-0.find-block
            h2.tit
              | Крышка баночки
            | 				Безопасная пробка
            br
            |  с полиэтиленовыми прокладками
            br
            |  имеет устройство защиты
            br
            |  от открывания детьми.
            .arr.arr_v1
              img(src='images/arr-1.svg', alt='arr')
            .sm-arr.sm-arr_v1
              img(src='images/arr-mob-1.svg', alt='arr')
        .col-2.col-offset-1.p-x-0.ta-c.sm-col-first
          #img-2-point
          .img-block.img-block-2
            img(src='images/cap.png', alt='arrow')
            img.img-block-2__arrow(src='images/arrow.png', alt='arrow')
            button.js-bubble.vt-btn(data-bubble='<span class="bubble__tit">Пробка</span> Белая винтовая пробка с полиэтиленовыми прокладками.', data-bubble-class='bubble_v2') i
      .row.row_wrp.row_md-x-block.section
        .col-5.col-offset-1
          .block.find-block
            h2.tit
              | Низкая частота аллергических реакций
            | 				Согласно инструкции по медицинскому
            button.js-open-popup.btn(data-popup='#allergicheskie-reakcii-popup') ?
            br
            br.md-x-hidden
            | 				применению сиропа Эриус
            sup ®
            |  аллергические
            br
            | 				реакции на препарат отмечались очень
            br
            | 				редко (< 1 случая на 10 000 пациентов).
            br
            br.md-x-hidden
            span.c-blue
              | У 99,99 % пациентов не отмечалось никаких
              br
              |  аллергических реакций на препарат.
            .arr.arr_v4
              img(src='images/arr-4.svg', alt='arr')
        .col-4-5.col-offset-1
          .block.find-block
            h2.tit
              | Не оказывает воздействия на ЦНС
              button.js-open-popup.btn.md-x-hidden(data-popup='#chastota-sonlivosti-popup') ?
            | 				При лечении сиропом Эриус
            sup ®
            button.js-open-popup.btn.sm-hidden(data-popup='#chastota-sonlivosti-popup') ?
            br
            |  вероятность появления такого
            br
            |  побочного эффекта, как сонливость,
            br
            |  (седация) не превышает 1 случая на 10 000 пациентов.
        .row__br.pt-40
      
      // КОНЕЦ первый блок (упаковка)

      // Второй блок (бутылочка)
      .row.row_wrp.section.mb-0
        .col-4-5
          .block.find-block
            h2.tit
              | Этикетка
            ul
              li
                | Сироп 60 мл во флаконах
                br
                |  из темного стекла
              li
                | Активное вещество — дезлоратадин
              li
                | Разрешен к применению
                br
                |  с 6-месячного возраста
              li
                | Действие начинается в течение
                br
                |  30 минут
              li
                | Эффект сохраняется до 24 часов
            .arr.arr_v5
              img(src='images/arr-5.svg', alt='arr')
            .sm-arr.sm-arr_v2
              img(src='images/arr-mob-1.svg', alt='arr')
        .col-3.ta-c.sm-col-first
          #img-4-point
          .img-block.img-block-4
            img(src='images/etiketka.png', alt='arrow')
            button.js-bubble.vt-btn(data-bubble='<span class="bubble__tit">Этикетка</span> Сироп Эриус<sup>®</sup> получил обновленный дизайн в 2018 году.  После вскрытия препарат эффективен до окончания срока годности, который указан на этикетке.', data-bubble-class='bubble_v5') i
    
      .row.row_wrp.mt-10
        .col-4
          .block.mt-200.find-block
            h2.tit
              | Флакон
              button.js-open-popup.btn.sm-ml-10(data-popup='#temperatura-hraneniya-popup') ?
            | 					Сироп Эриус
            sup ®
            |  выпускается
            br
            |  во флаконе из темного стекла
            br
            |  и хранится при температуре
            br
            |  до +30 °C.  После вскрытия
            br
            |  препарат эффективен
            br
            |  до окончания срока годности.
            .arr.arr_v7
              img(src='images/arr-7.svg', alt='arr')
            .sm-arr.sm-arr_v3
              img(src='images/arr-mob-1.svg', alt='arr')
        .col-4
          #img-5-point
          .img-block.img-block-5
            img(src='images/bottle.png', alt='bottle')
            button.js-bubble.vt-btn.vt-btn_v1(data-bubble='<span class="bubble__tit">Флакон</span> Прозрачный стеклянный флакон темно-коричневого цвета.', data-bubble-class='bubble_v6') i
            button.js-bubble.vt-btn.vt-btn_v2(data-bubble='<span class="bubble__tit">Ложечка</span> Дозировочная ложка из прозрачного пластика.', data-bubble-class='bubble_v7') i
        .col-4
          .block.sm-mt-0.find-block
            h2.tit
              | Ложечка
            | 					Дозировочная ложка с отметками
            br
            |  в полости на 2,5 и 5 мл помогает отмерить необходимое количество сиропа.
            .arr.arr_v6
              img(src='images/arr-6.svg', alt='arr')
            .sm-arr.sm-arr_v4
              img(src='images/arr-mob-2.svg', alt='arr')
      
      
      // КОНЕЦ Второй блок (бутылочка)
      
      // Третий блок (ложка с сиропом)
      .row.row_wrp.row_md-x-block.section
        .col-4
          .block.find-block
            h2.tit
              | Без парабенов
              button.js-open-popup.btn(data-popup='#parabeni-popup') ?
            | 				Эриус
            sup ®
            |  для детей выпускается
            br
            | 				в форме сиропа и 
            span.c-blue не содержит
            br
            |  потенциально аллергенных
            br
            |  парабенов.
        .col-3-4.p-x-0.sm-col-first
          #img-3-point
          .img-block-3
            img(src='images/sirop.png', alt='sirop erius')
            button.js-bubble.vt-btn.vt-btn_v1(data-bubble='<span class="bubble__tit">Активное вещество</span> Оригинальный дезлоратадин (микронизированный) — 0,5 мг. <span class="bubble__tit">Вспомогательные вещества</span> пропиленгликоль — 100 мг, сорбитол — 150 мг, лимонная кислота — 0,5 мг, натрия цитрата дигидрат — 1,26 мг, натрия бензоат — 1 мг, динатрия эдетат — 0,25 мг, сахароза — 490 мг, ароматизатор № 15864 — 0,75 мг, краситель «солнечный закат» желтый — 0,023 мг, вода очищенная — до 1 мл.', data-bubble-class='bubble_v3') i
            button.js-bubble.vt-btn.vt-btn_v2(data-bubble='<span class="bubble__tit">Сироп</span> Прозрачная жидкость оранжевого цвета.', data-bubble-class='bubble_v4') i
        .col-4-5.col-right.sm-col-second
          .block.mt-60.ml-15.find-block
            h2.tit
              | Разрешен к применению
              button.js-open-popup.btn.md-x-hidden(data-popup='#peroralnie-formi-popup') ?
              br
              br.md-x-hidden
              | 					с 6-месячного возраста
              button.js-open-popup.btn.sm-hidden(data-popup='#peroralnie-formi-popup') ?
            | 				Эриус
            sup ®
            |  — оригинальный дезлоратадин,
            br
            | 			 и по нему проведено большое
            br
            |  количество исследований.
            br
            |  Накопленные клинические данные
            br
            |  сделали возможным пересмотр
            br
            |  возрастного порога, и с 2015 года сироп можно применять даже у самых маленьких пациентов с 6 месяцев.
        .col-4
          .block.mt-40.find-block
            h2.tit
              | Cироп Эриус
              sup ®
              |  не нарушает
              button.js-open-popup.btn.md-x-hidden(data-popup='#vliyanie-na-son-popup') ?
              br
              br.md-x-hidden
              | 					структуру сна
              button.js-open-popup.btn.sm-hidden(data-popup='#vliyanie-na-son-popup') ?
            | 				Сироп Эриус
            sup ®
            |  относится ко второму поколению антигистаминных препаратов, поэтому не влияет на фазы сна ребенка.
        .row__br.pt-40
        .col-4
          .block.find-block
            h2.tit
              | Действие начинается
              button.js-open-popup.btn.md-x-hidden(data-popup='#nachalo-deistviya-popup') ?
              br
              br.md-x-hidden
              | 					в течение 30 минут
              button.js-open-popup.btn.sm-hidden(data-popup='#nachalo-deistviya-popup') ?
            | 				Согласно инструкции сироп Эриус
            sup ®
            |  способен начать действовать в течение 30 минут после приема. Эффект препарата сохраняется 24 часа.
            .arr.arr_v3
              img(src='images/arr-3.svg', alt='arr')
        .col-4.col-offset-3
          .block.find-block
            h2.tit
              | Не требует строгого
              button.js-open-popup.btn(data-popup='#osobennosti-deti-do-1-goda-popup') ?
              br
              br.md-x-hidden
              | 					медицинского контроля у детей
              br
              | 					в возрасте 6 – 12 месяцев
            | 				Для рутинного применения сиропа
            br
            |  Эриус
            sup ®
            |  у детей 6 – 12 месяцев не требуется строгий медицинский мониторинг.
            #img-3-point-bottom.arr.arr_v2
              img(src='images/arr-2.svg', alt='arr')
        .row__br.pt-15
        .col-4-5.col-offset-1
          .block.mr-15.find-block
            h2.tit
              | Содержит вспомогательные
              button.js-open-popup.btn(data-popup='#aromatizator-krasitel-popup') ?
              br
              br.md-x-hidden
              | 					вещества, чтобы нравиться детям
            | 				Для придания приятного вкуса в состав
            br
            |  сиропа Эриус
            sup ®
            |  входят разрешенные
            br
            |  для применения в пищевой
            br
            |  и фармацевтической промышленности
            br
            |  ароматизатор со вкусом жевательной
            br
            |  резинки и краситель.
        .col-4-5
          .block.mt-30.ml-30.find-block
            h2.tit
              | Применяется 1 раз в день
              button.js-open-popup.btn.md-x-hidden(data-popup='#kratnost-primeneniya-popup') ?
              br
              br.md-x-hidden
              | 					у всех пациентов
              button.js-open-popup.btn.sm-hidden(data-popup='#kratnost-primeneniya-popup') ?
            | 				Сироп Эриус
            sup ®
            |  имеет удобную
            br
            |  кратность приема: всего 1 раз
            br
            |  в сутки для всех пациентов,
            br
            |  независимо от возраста.
      
      // КОНЕЦ Третий блок (ложка с сиропом)

      // Финал
      .section.mt-10
        .row.row_wrp.mt-30.sm-mt-0
          .col-4.col-offset-1
            .block.block_last.mt-100.find-block
              h2.tit
                | Сироп Эриус
                sup ®
                |  — мощное
                br
                br.md-x-hidden
                |  действие против 10 симптомов
                br
                |  аллергии
              | 					Без седативного эффекта.
              br
              |  Разрешен у детей с 6 месяцев.
          .col-5.col-offset-1
            .block.block_last.find-block
              h2.tit
                | Способ применения
                button.js-open-popup.btn(data-popup='#instruction-popup') ?
              | 					Детям в возрасте от 6 до 12 месяцев — по 1 мг (2 мл сиропа) 1 раз в день.
              br
              | 					Детям в возрасте от 1 года до 5 лет — по 1,25 мг (2,5 мл сиропа) 1 раз в день.
              br
              | 					Детям в возрасте от 6 до 11 лет — по 2,5 мг (5 мл сиропа) 1 раз в день.
              br
              | 					Взрослым и подросткам от 12 лет — по 5 мг (10 мл сиропа) 1 раз в день.
    // /MAIN
    
    
    // FOOTER/
    footer.footer
      div
        | Имеются противопоказания. Необходимо ознакомиться с инструкцией.
    // /FOOTER
    // POPUPs/
    .popup
      #erius-popup.popup__window
        button.js-popup-close.popup-close-btn
        .popup__inner
          strong Противовоспалительная активность:
          br
          | 			подавляет реакции аллергического воспаления.
          br
          strong Антигистаминная активность:
          br
          | 			высокоселективно связывается с Н1-рецепторами.
          br
          strong Противоаллергическая активность:
          br
          | 			торможение аллергического каскада.
      #allergicheskie-reakcii-popup.popup__window
        button.js-popup-close.popup-close-btn
        .popup__inner
          .popup__tit
            | Возможные аллергические реакции на фоне приема препарата
          .row.row_sm-x-nw
            .col.cmpr
              .cmpr__head
                | Эриус
                sup ®
                | , сироп
              p
                strong < 1 на 10 000
                |  пациентов
              p
                | Анафилаксия, ангионевротический отек, одышка, зуд, сыпь, в том числе крапивница
            .col.cmpr
              .cmpr__head
                | Зиртек
                sup ®
                |  / Зодак
                sup ®
                | , капли
              p
                strong < 1 на 10 000
                |  пациентов
              p
                | Анафилактический шок, ангионевротический отек, стойкая лекарственная эритема
              p
                strong 1–10 на 10 000
                |  пациентов.
                | 						Реакции гиперчувствительности, крапивница
              p
                strong 10–100 на 10 000
                |  пациентов.
                | 						Сыпь, зуд
            .col.cmpr
              .cmpr__head
                | Супрастин
                sup ®
                | , таблетки
              p
                | Частота не указана
              p
                | Аллергические реакции, фотосенсибилизация
            .col.cmpr
              .cmpr__head
                | Фенистил
                sup ®
                | , капли
              p
                strong < 1 на 10 000
                |  пациентов
              p
                | Анафилактоидные реакции, включающие отек лица, отек глотки, сыпь, мышечные спазмы и одышку
          .mt-20
            button.js-open-popup.link-btn(data-popup='#full-compare-popup') Посмотреть полное сравнение
      #peroralnie-formi-popup.popup__window
        button.js-popup-close.popup-close-btn
        .popup__inner
          .popup__tit
            | Пероральные формы, разрешенные к применению с раннего детского возраста
          .row.row_sm-x-nw
            .col.cmpr
              .cmpr__head
                | Эриус
                sup ®
                | , сироп
              p
                | Сироп (с 6 месяцев)
            .col.cmpr
              .cmpr__head
                | Зиртек
                sup ®
                |  / Зодак
                sup ®
                | , капли
              p
                | Капли (с 6 месяцев)
            .col.cmpr
              .cmpr__head
                | Супрастин
                sup ®
                | , таблетки
              p
                | Таблетки (с 3 лет)
            .col.cmpr
              .cmpr__head
                | Фенистил
                sup ®
                | , капли
              p
                | Капли (с 1 месяца)
          .mt-20
            button.js-open-popup.link-btn(data-popup='#full-compare-popup') Посмотреть полное сравнение
      #parabeni-popup.popup__window
        button.js-popup-close.popup-close-btn
        .popup__inner
          .popup__tit
            | Наличие в составе парабенов
          .row.row_sm-x-nw
            .col.cmpr
              .cmpr__head
                | Эриус
                sup ®
                | , сироп
              p
                | Нет
            .col.cmpr
              .cmpr__head
                | Зиртек
                sup ®
                |  / Зодак
                sup ®
                | , капли
              p
                | Да
                br
                |  Метилпарабензол и пропилпарабензол
            .col.cmpr
              .cmpr__head
                | Супрастин
                sup ®
                | , таблетки
              p
                | Нет
            .col.cmpr
              .cmpr__head
                | Фенистил
                sup ®
                | , капли
              p
                | Нет
          .mt-20
            button.js-open-popup.link-btn(data-popup='#full-compare-popup') Посмотреть полное сравнение
      #chastota-sonlivosti-popup.popup__window
        button.js-popup-close.popup-close-btn
        .popup__inner
          .popup__tit
            | Частота сонливости
          .row.row_sm-x-nw
            .col.cmpr
              .cmpr__head
                | Эриус
                sup ®
                | , сироп
              p
                b < 1 на 10 000
                |  пациентов (< 0,01 %)
            .col.cmpr
              .cmpr__head
                | Зиртек
                sup ®
                |  / Зодак
                sup ®
                | , капли
              p
                | Взрослые (10 мг в сутки) 
                b 963 на 10 000
                |  пациентов (9,63 %)
                br
                | 						Дети 6 месяцев — 12 лет 
                b 180 на 10 000
                |  пациентов (1,8 %)
            .col.cmpr
              .cmpr__head
                | Супрастин
                sup ®
                | , таблетки
              p
                | Частота не указана
            .col.cmpr
              .cmpr__head
                | Фенистил
                sup ®
                | , капли
              p
                b 100–1 000 на 10 000
                |  пациентов (1–10 %)
          .mt-20
            button.js-open-popup.link-btn(data-popup='#full-compare-popup') Посмотреть полное сравнение
      #aromatizator-krasitel-popup.popup__window
        button.js-popup-close.popup-close-btn
        .popup__inner
          .popup__txt
            p
              | Для придания приятного вкуса в состав сиропа Эриус
              sup ®
              |  входят разрешенные для применения в пищевой и фармацевтической промышленности ароматизатор со вкусом жевательной резинки и желтый краситель «солнечный закат». Терапия аллергического ринита или крапивницы часто подразумевает длительный прием лекарства.  Вспомогательные вещества в сиропе Эриус
              sup ®
              |  призваны сделать лечение вкусным и приятным для ребенка
          .popup__tit
            | Наличие красителя и ароматизатора
          .row.row_sm-x-nw
            .col.cmpr
              .cmpr__head
                | Эриус
                sup ®
                | , сироп
              p
                | Да
            .col.cmpr
              .cmpr__head
                | Зиртек
                sup ®
                |  / Зодак
                sup ®
                | , капли
              p
                | Нет
            .col.cmpr
              .cmpr__head
                | Супрастин
                sup ®
                | , таблетки
              p
                | Нет
            .col.cmpr
              .cmpr__head
                | Фенистил
                sup ®
                | , капли
              p
                | Нет
          .mt-20
            button.js-open-popup.link-btn(data-popup='#full-compare-popup') Посмотреть полное сравнение
      #kratnost-primeneniya-popup.popup__window
        button.js-popup-close.popup-close-btn
        .popup__inner
          .popup__tit
            | Кратность применения
          .row.row_sm-x-nw
            .col.cmpr
              .cmpr__head
                | Эриус
                sup ®
                | , сироп
              p
                | 1 раз в сутки для всех пациентов
            .col.cmpr
              .cmpr__head
                | Зиртек
                sup ®
                |  / Зодак
                sup ®
                | , капли
              p
                | 1 раз в сутки (6 месяцев – 1 год)
                | 2 раза в сутки (1–11 лет)
                | 1 раз в сутки (12+ лет)
            .col.cmpr
              .cmpr__head
                | Супрастин
                sup ®
                | , таблетки
              p
                | 2 раза в сутки (3–6 лет)
                br
                | 						2–3 раза в сутки (6–14 лет)
                br
                | 						3–4 раза в сутки (взрослым)
            .col.cmpr
              .cmpr__head
                | Фенистил
                sup ®
                | , капли
              p
                | 3 раза в сутки для всех пациентов
          .mt-20
            button.js-open-popup.link-btn(data-popup='#full-compare-popup') Посмотреть полное сравнение
      #nachalo-deistviya-popup.popup__window
        button.js-popup-close.popup-close-btn
        .popup__inner
          .popup__tit
            | Начало действия
          .row.row_sm-x-nw
            .col.cmpr
              .cmpr__head
                | Эриус
                sup ®
                | , сироп
              p
                | В течение 30 минут
            .col.cmpr
              .cmpr__head
                | Зиртек
                sup ®
                |  / Зодак
                sup ®
                | , капли
              p
                | Через 20 минут (у 50 % больных), через 1 час (у 95 % больных)
            .col.cmpr
              .cmpr__head
                | Супрастин
                sup ®
                | , таблетки
              p
                | В течение 15–30 минут
            .col.cmpr
              .cmpr__head
                | Фенистил
                sup ®
                | , капли
              p
                | Не указано
          .mt-20
            button.js-open-popup.link-btn(data-popup='#full-compare-popup') Посмотреть полное сравнение
      #osobennosti-deti-do-1-goda-popup.popup__window
        button.js-popup-close.popup-close-btn
        .popup__inner
          .popup__tit
            | Особенности применения у детей до 1 года,
            | связанные с потенциальным риском угнетения ЦНС
          .row.row_sm-x-nw
            .col.cmpr
              .cmpr__head
                | Эриус
                sup ®
                | , сироп
              p
                | Особых указаний нет
            .col.cmpr
              .cmpr__head
                | Зиртек
                sup ®
                |  / Зодак
                sup ®
                | , капли
              p
                | Ввиду потенциального угнетающего влияния на центральную нервную систему следует соблюдать осторожность при назначении препарата Зиртек
                sup ®
                |  детям в возрасте до 1 года при наличии факторов риска возникновения синдрома внезапной детской смерти
              p
                | Применение у детей от 6 до 12 месяцев возможно только по назначению врача и под строгим медицинским контролем
            .col.cmpr
              .cmpr__head
                | Супрастин
                sup ®
                | , таблетки
              p
                | Неприменимо, т.к. детский возраст до 3 лет является противопоказанием
            .col.cmpr
              .cmpr__head
                | Фенистил
                sup ®
                | , капли
              p
                | С осторожностью у детей в возрасте до 1 года, поскольку седативный эффект может сопровождаться эпизодами ночного апноэ
          .mt-20
            button.js-open-popup.link-btn(data-popup='#full-compare-popup') Посмотреть полное сравнение
      #vliyanie-na-son-popup.popup__window
        button.js-popup-close.popup-close-btn
        .popup__inner
          .popup__tit
            | Влияние на структуру сна
          .row.row_sm-x-nw
            .col.cmpr
              .cmpr__head
                | Эриус
                sup ®
                | , сироп
              p
                | Не влияет
            .col.cmpr
              .cmpr__head
                | Зиртек
                sup ®
                |  / Зодак
                sup ®
                | , капли
              p
                | Не влияет
            .col.cmpr
              .cmpr__head
                | Супрастин
                sup ®
                | , таблетки
              p
                | Антигистаминные препараты I поколения могут нарушать REM-фазу сна
            .col.cmpr
              .cmpr__head
                | Фенистил
                sup ®
                | , капли
              p
                | Антигистаминные препараты I поколения могут нарушать REM-фазу сна
          .mt-20
            button.js-open-popup.link-btn(data-popup='#full-compare-popup') Посмотреть полное сравнение
      #temperatura-hraneniya-popup.popup__window
        button.js-popup-close.popup-close-btn
        .popup__inner
          .popup__tit
            | Температура хранения пероральных форм, разрешенных к применению с раннего детского возраста
          .row.row_sm-x-nw
            .col.cmpr
              .cmpr__head
                | Эриус
                sup ®
                | , сироп
              p
                | Не выше +30
            .col.cmpr
              .cmpr__head
                | Зиртек
                sup ®
                |  / Зодак
                sup ®
                | , капли
              p
                | Не выше +25
            .col.cmpr
              .cmpr__head
                | Супрастин
                sup ®
                | , таблетки
              p
                | +15–25
            .col.cmpr
              .cmpr__head
                | Фенистил
                sup ®
                | , капли
              p
                | Не выше +25
          .mt-20
            button.js-open-popup.link-btn(data-popup='#full-compare-popup') Посмотреть полное сравнение
      #instruction-popup.popup__window
        button.js-popup-close.popup-close-btn
        .popup__inner
          .popup__title
            | Краткая инструкция
          .popup__txt.m-0
            b
              | Эриус
              sup ®
              | .
            |  Таблетки, покрытые пленочной оболочкой / сироп.
            br
            b МНН или группировочное название:
            |  дезлоратадин.
            br
            b Показания к применению:
            |  аллергический ринит (устранение или облегчение чихания, выделения слизи из носа, зуда и заложенности носа, зуда и покраснения глаз, слезотечения, зуда неба); крапивница (уменьшение или устранение кожного зуда и сыпи).
            br
            b Способ применения и дозы:
            |  принимать регулярно в одно и то же время суток, независимо от времени приема пищи. Взрослым и подросткам от 12 лет — по 1 таблетке (5 мг) 1 раз в сутки. Сироп: детям в возрасте от 6 до 12 месяцев — по 1 мг (2 мл сиропа) 1 раз в день; детям в возрасте от 1 года до 5 лет — по 1,25 мг (2,5 мл сиропа) 1 раз в день; детям в возрасте от 6 до 11 лет — по 2,5 мг (5 мл сиропа) 1 раз в день; взрослым и подросткам от 12 лет — по 5 мг (10 мл сиропа) 1 раз в день.
            br
            b Противопоказания:
            |  повышенная чувствительность к дезлоратадину, другим компонентам препарата или лоратадину, беременность и период грудного вскармливания, детский возраст до 6 месяцев (для сиропа) или до 12 лет (для таблеток); для сиропа - непереносимость фруктозы, нарушение всасывания глюкозы-галактозы или недостаточность сахаразы-изомальтазы в организме.
            br
            b С осторожностью:
            |  тяжелая почечная недостаточность.
            br
            b Побочные действия:
            |  повышенная утомляемость, сухость во рту и головная боль; у детей до 2 лет — диарея, повышение температуры тела, бессонница.
            br
            b Особые указания:
            |  следует принимать во внимание потенциальную возможность развития таких побочных эффектов, как головокружение и сонливость, в таких случаях воздержаться от управления транспортными средствами и механизмами. Дезлоратадин одновременно с алкоголем следует применять с осторожностью.
            br
            b Рег. номер (таблетки):
            |  П N014704/02, 
            b инструкция по применению
            |  от 27.04.2017.
            br
            b Рег. номер (сироп):
            |  П N014704/01, 
            b инструкция по применению
            |  от 10.07.2017.
            br
            | 				Полную информацию смотрите в инструкции по применению.
            br
            | 				АО «БАЙЕР», Россия, 107113, г. Москва, 3-я Рыбинская ул., д. 18, стр. 2.
      #full-compare-popup.popup__window
        button.js-popup-close.popup-close-btn
        .popup__inner
          .popup__title
            | Полное сравнение
          .popup__tit
            | Применение при аллергическом рините и крапивнице
            sup 4–8
          .row.row_sm-x-nw
            .col.cmpr
              .cmpr__head
                | Эриус
                sup ®
                | , сироп
              p
                | Устранение или облегчение чихания, заложенности носа, выделения слизи из носа, зуда в носу, зуда неба, зуда и покраснения глаз, слезотечения. Уменьшение или устранение кожного зуда, сыпи при крапивнице
            .col.cmpr
              .cmpr__head
                | Зиртек
                sup ®
                |  / Зодак
                sup ®
                | , капли
              p
                | Облегчение назальных и глазных симптомов круглогодичного (персистирующего) и сезонного (интермиттирующего) аллергического ринита и аллергического конъюнктивита: зуда, чиханья, заложенности носа, ринореи, слезотечения, гиперемии конъюнктивы. Облегчение симптомов хронической идиопатической крапивницы
            .col.cmpr
              .cmpr__head
                | Супрастин
                sup ®
                | , таблетки
              p
                | Сезонный и круглогодичный аллергический ринит, конъюнктивит, крапивница
            .col.cmpr
              .cmpr__head
                | Фенистил
                sup ®
                | , капли
              p
                | Аллергические заболевания (крапивница, круглогодичный аллергический ринит)
          .popup__tit
            | Применение при других аллергических заболеваниях
            sup 4–8
          .row.row_sm-x-nw
            .col.cmpr
              .cmpr__head
                | Эриус
                sup ®
                | , сироп
              p
                | —
            .col.cmpr
              .cmpr__head
                | Зиртек
                sup ®
                |  / Зодак
                sup ®
                | , капли
              p
                | —
            .col.cmpr
              .cmpr__head
                | Супрастин
                sup ®
                | , таблетки
              p
                | Контактный дерматит, кожный зуд, острая и хроническая экзема, атопический дерматит, пищевая и лекарственная аллергия, аллергические реакции на укусы насекомых. Ангионевротический отек (отек Квинке) в качестве вспомогательного средства, сывороточная болезнь
            .col.cmpr
              .cmpr__head
                | Фенистил
                sup ®
                | , капли
              p
                | Кожный зуд различного происхождения; профилактика аллергических реакций во время проведения гипосенсибилизирующей терапии, сенная лихорадка, ангионевротический отек, пищевая и лекарственная аллергия
          .popup__tit
            | Пероральные формы, разрешенные к применению с раннего детского возраста
            sup 4–8
          .row.row_sm-x-nw
            .col.cmpr
              .cmpr__head
                | Эриус
                sup ®
                | , сироп
              p
                | Сироп (с 6 месяцев)
            .col.cmpr
              .cmpr__head
                | Зиртек
                sup ®
                |  / Зодак
                sup ®
                | , капли
              p
                | Капли (с 6 месяцев)
            .col.cmpr
              .cmpr__head
                | Супрастин
                sup ®
                | , таблетки
              p
                | Таблетки (с 3 лет)
            .col.cmpr
              .cmpr__head
                | Фенистил
                sup ®
                | , капли
              p
                | Капли (с 1 месяца)
          .popup__tit
            | Начало действия
            sup 4–8
          .row.row_sm-x-nw
            .col.cmpr
              .cmpr__head
                | Эриус
                sup ®
                | , сироп
              p
                | В течение 30 минут
            .col.cmpr
              .cmpr__head
                | Зиртек
                sup ®
                |  / Зодак
                sup ®
                | , капли
              p
                | Через 20 минут (у 50 % больных), через 1 час (у 95 % больных)
            .col.cmpr
              .cmpr__head
                | Супрастин
                sup ®
                | , таблетки
              p
                | В течение 15–30 минут
            .col.cmpr
              .cmpr__head
                | Фенистил
                sup ®
                | , капли
              p
                | Не указано
          .popup__tit
            | Кратность применения
            sup 4–8
          .row.row_sm-x-nw
            .col.cmpr
              .cmpr__head
                | Эриус
                sup ®
                | , сироп
              p
                | 1 раз в сутки для всех пациентов
            .col.cmpr
              .cmpr__head
                | Зиртек
                sup ®
                |  / Зодак
                sup ®
                | , капли
              p
                | 1 раз в сутки (6 месяцев – 1 год)
                | 2 раза в сутки (1–11 лет)
                | 1 раз в сутки (12+ лет)
            .col.cmpr
              .cmpr__head
                | Супрастин
                sup ®
                | , таблетки
              p
                | 2 раза в сутки (3–6 лет)
                br
                | 						2–3 раза в сутки (6–14 лет)
                br
                | 						3–4 раза в сутки (взрослым)
            .col.cmpr
              .cmpr__head
                | Фенистил
                sup ®
                | , капли
              p
                | 3 раза в сутки для всех пациентов
          .popup__tit
            | Наличие в составе парабенов
            sup 4–8
          .row.row_sm-x-nw
            .col.cmpr
              .cmpr__head
                | Эриус
                sup ®
                | , сироп
              p
                | Нет
            .col.cmpr
              .cmpr__head
                | Зиртек
                sup ®
                |  / Зодак
                sup ®
                | , капли
              p
                | Да
                br
                |  Метилпарабензол и пропилпарабензол
            .col.cmpr
              .cmpr__head
                | Супрастин
                sup ®
                | , таблетки
              p
                | Нет
            .col.cmpr
              .cmpr__head
                | Фенистил
                sup ®
                | , капли
              p
                | Нет
          .popup__tit
            | Особенности применения у детей до 1 года, 
            | связанные с потенциальным риском угнетения ЦНС
            sup 4–8
          .row.row_sm-x-nw
            .col.cmpr
              .cmpr__head
                | Эриус
                sup ®
                | , сироп
              p
                | Особых указаний нет
            .col.cmpr
              .cmpr__head
                | Зиртек
                sup ®
                |  / Зодак
                sup ®
                | , капли
              p
                | Ввиду потенциального угнетающего влияния на центральную нервную систему следует соблюдать осторожность при назначении препарата Зиртек
                sup ®
                |  детям в возрасте до 1 года при наличии факторов риска возникновения синдрома внезапной детской смерти
              p
                | Применение у детей от 6 до 12 месяцев возможно только по назначению врача и под строгим медицинским контролем
            .col.cmpr
              .cmpr__head
                | Супрастин
                sup ®
                | , таблетки
              p
                | Не применимо, т.к. детский возраст до 3 лет является противопоказанием
            .col.cmpr
              .cmpr__head
                | Фенистил
                sup ®
                | , капли
              p
                | С осторожностью у детей в возрасте до 1 года, поскольку седативный эффект может сопровождаться эпизодами ночного апноэ
          .popup__tit
            | Возможные аллергические реакции на фоне приема препарата
            sup 4–8
          .row.row_sm-x-nw
            .col.cmpr
              .cmpr__head
                | Эриус
                sup ®
                | , сироп
              p
                strong < 1 на 10 000
                |  пациентов
              p
                | Анафилаксия, ангионевротический отек, одышка, зуд, сыпь, в том числе крапивница
            .col.cmpr
              .cmpr__head
                | Зиртек
                sup ®
                |  / Зодак
                sup ®
                | , капли
              p
                strong < 1 на 10 000
                |  пациентов
              p
                | Анафилактический шок, ангионевротический отек, стойкая лекарственная эритема
              p
                strong 1–10 на 10 000
                |  пациентов.
                | 						Реакции гиперчувствительности, крапивница
              p
                strong 10–100 на 10 000
                |  пациентов.
                | 						Сыпь, зуд
            .col.cmpr
              .cmpr__head
                | Супрастин
                sup ®
                | , таблетки
              p
                | Частота не указана
              p
                | Аллергические реакции, фотосенсибилизация
            .col.cmpr
              .cmpr__head
                | Фенистил
                sup ®
                | , капли
              p
                b < 1 на 10 000
                |  пациентов
              p
                | Анафилактоидные реакции, включающие отек лица, отек глотки, сыпь, мышечные спазмы и одышку
          .popup__tit
            | Влияние на структуру сна
            sup 1–3
          .row.row_sm-x-nw
            .col.cmpr
              .cmpr__head
                | Эриус
                sup ®
                | , сироп
              p
                | Не влияет
            .col.cmpr
              .cmpr__head
                | Зиртек
                sup ®
                |  / Зодак
                sup ®
                | , капли
              p
                | Не влияет
            .col.cmpr
              .cmpr__head
                | Супрастин
                sup ®
                | , таблетки
              p
                | Антигистаминные препараты I поколения могут нарушать REM-фазу сна
            .col.cmpr
              .cmpr__head
                | Фенистил
                sup ®
                | , капли
              p
                | Антигистаминные препараты I поколения могут нарушать REM-фазу сна
          .popup__tit
            | Частота сонливости
            sup 4–8
          .row.row_sm-x-nw
            .col.cmpr
              .cmpr__head
                | Эриус
                sup ®
                | , сироп
              p
                b < 1 на 10 000
                |  пациентов (< 0,01 %)
            .col.cmpr
              .cmpr__head
                | Зиртек
                sup ®
                |  / Зодак
                sup ®
                | , капли
              p
                | Взрослые (10 мг в сутки) 
                b 963 на 10 000
                |  пациентов (9,63 %)
                br
                | 						Дети 6 месяцев — 12 лет 
                b 180 на 10 000
                |  пациентов (1,8 %)
            .col.cmpr
              .cmpr__head
                | Супрастин
                sup ®
                | , таблетки
              p
                | Частота не указана
            .col.cmpr
              .cmpr__head
                | Фенистил
                sup ®
                | , капли
              p
                b 100–1 000 на 10 000
                |  пациентов (1–10 %)
          .popup__tit
            | Наличие красителя и ароматизатора
            sup 4–8
          .row.row_sm-x-nw
            .col.cmpr
              .cmpr__head
                | Эриус
                sup ®
                | , сироп
              p
                | Да
            .col.cmpr
              .cmpr__head
                | Зиртек
                sup ®
                |  / Зодак
                sup ®
                | , капли
              p
                | Нет
            .col.cmpr
              .cmpr__head
                | Супрастин
                sup ®
                | , таблетки
              p
                | Нет
            .col.cmpr
              .cmpr__head
                | Фенистил
                sup ®
                | , капли
              p
                | Нет
          .popup__tit
            | Температура хранения пероральных форм, разрешенных
            sup 4–8
            |  к применению с раннего детского возраста
          .row.row_sm-x-nw
            .col.cmpr
              .cmpr__head
                | Эриус
                sup ®
                | , сироп
              p
                | Не выше +30
            .col.cmpr
              .cmpr__head
                | Зиртек
                sup ®
                |  / Зодак
                sup ®
                | , капли
              p
                | Не выше +25
            .col.cmpr
              .cmpr__head
                | Супрастин
                sup ®
                | , таблетки
              p
                | +15–25
            .col.cmpr
              .cmpr__head
                | Фенистил
                sup ®
                | , капли
              p
                | Не выше +25
          .popup__txt.mt-80
            sub 1
            |  Church, M. K. et al. Risk of first-generation H1-antihistamines: a GA2LEN position paper. Allergy, 2010; 65, 459–466.
            br
            sub 2
            |  Vyazovskiy, V. V. et al. NREM and REM sleep: complementary roles in recovery after wakefulness. The Neuroscientist, 2014; 20 (3), 203–219.
            br
            sub 3
            |  J. Winson. The biology and function of rapid eye movement sleep. Current Opinion in Neurobiology, 1993; 3 (2), 243–248.
            br
            sub 4
            |  Инструкция по медицинскому применению препарата Эриус
            sup ®
            | , сироп.
            br
            sub 5
            |  Инструкция по медицинскому применению препарата Зиртек
            sup ®
            | , капли.
            br
            sub 6
            |  Инструкция по медицинскому применению препарата Зодак
            sup ®
            | , капли.
            br
            sub 7
            |  Инструкция по медицинскому применению препарата Супрастин
            sup ®
            | , таблетки.
            br
            sub 8
            |  Инструкция по медицинскому применению препарата Фенистил
            sup ®
            | , капли.
    // /POPUPs
    script(src='js/vendor.js')
    script(src='js/app.js')
